.contenedor-inicio {
    max-width: 1280px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-template-rows: repeat(2, 460px);
    grid-gap: 2rem;
    justify-content: space-around;
}

.contenedor-producto {
    max-width: 840px;
    margin: 2rem auto;
    @include flex(flex-start, stretch);

    .pics {
        width: 50%;

        .main-pic {

            img {
                width: 100%;
                display: block;
            }
        }

        .thumbs {

           img {
               width: 25%;
               opacity: 0.5;
               cursor: pointer;

               &.activa {
                   opacity: 1;
               }
           } 
        }
    }

    .datos {
        width: 50%;
        padding: 1rem;

        .titulos-producto {
            padding-bottom: 1rem;
            border-bottom: 1px solid $medium-grey;

            h1 {
                font-size: 1.8rem;
            }

            h2 {
                font-size: 1.5rem;
            }
        }

        .descripcion-producto {
            padding: 1rem 0;
            border-bottom: 1px solid $medium-grey;
        }

        .caracteristicas-producto,
        .cantidad-producto {
            padding: 1rem 0;
            border-bottom: 1px solid $medium-grey;
            @include flex(flex-start, flex-end);

            div {
                width: 100%;

                button {
                    min-height: 38px;
                }
            }
        }

        .info-adicional-producto {
            padding: 1rem 0;
        }

    }

}

.contenedor-autenticacion {
    width: 100%;
    height: calc(100vh - 80px);
    @include flex(center, center);
    background-image: url('../assets/blue-2564660_1920.jpg');
    background-position: center;
}

.contenedor-perfil {
    max-width: 840px;
    margin: 2rem auto;
}

.m-l-small {
    margin-left: 0.5rem;
}

.m-r-small {
    margin-right: 0.5rem;
}

