.contenedor-inicio {
    max-width: 1280px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-template-rows: repeat(2, 460px);
    grid-gap: 2rem;
    justify-content: space-around;
}

.contenedor-producto {
    max-width: 720px;
    margin: 2rem auto;
    @include flex(flex-start, stretch);

    .pics {
        width: 50%;

        .main-pic {

            img {
                width: 100%;
                display: block;
            }
        }

        .thumbs {

           img {
               width: 25%;
               opacity: 0.5;
               cursor: pointer;

               &:activa {
                   opacity: 1;
               }
           } 
        }
    }

    .datos {
        width: 50%;
    }

}