button {
    padding: 0.5rem 1rem;
    border: 1px solid $brand-color;
    background-color: $brand-color;
    color: white;
    font-size: 1rem;
    transition: all 400ms ease-in-out;

    &:hover {
        border: 1px solid $dark-brand-color;
        background-color: $dark-brand-color;
    }

    &.outline {
        background-color: white;
        color: $brand-color;
    }

    &.outline:hover {
        border: 1px solid $dark-brand-color;
        background-color: $dark-brand-color;
        color: white;
    }
}