.shop-card {
    width: 280px;
    height: 460px;

    .pic {
        width: 280px;
        height: 360px;
        overflow: hidden;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            transition: 400ms all ease-in-out;

            &:hover {
                transform: scale(1.2) translateX(-50%);
            }
        }
    }
}