form {
    background-color: white;
    padding: 2rem;
    min-width: 440px;

    div {
        @include flex-column(flex-start, flex-start);

        label {
            text-transform: uppercase;
            margin-bottom: 0.5rem;
        }

        input {
            width: 100%;
            font-size: 1.5rem;
            padding: 0.5rem 1rem;
            margin-bottom: 0.5rem;
        }
    }

    div:last-of-type {
        margin-top: 1rem;
        @include flex-column(flex-start, flex-end);
    }

    p {
        margin: 1rem;

        span {
            color: $brand-color;
            cursor: pointer;
        }
    }

    button[disabled] {
        cursor: not-allowed;
    }
}

// Custom

.custom-label {
    padding-bottom: 0.5rem;
}

.custom-select {
    position: relative;

    .custom-selected {
        width: 100%;
        min-height: 42px;
        background-color: $ligth-grey;
        padding: 0.5rem 1rem;
        cursor: pointer;
        @include flex(space-between, center);
    }

    .custom-options {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: none;

        &.show {
            display: block;
        }

        .custom-option {
            width: 100%;
            background-color: $ligth-grey;
            padding: 0.5rem 1rem;
            transition: 400ms all ease-in-out;

            &:hover {
                background-color: $medium-grey;
                cursor: pointer;
            }
        }
    }

}

.custom-quantity {
    @include flex(flex-start, stretch);

    div:nth-child(1),
    div:nth-child(3) {
        background-color: $medium-grey;
        @include flex(center, center);
        padding: 0 0.5rem;
        max-width: 54px;
        transition: all 400ms ease-in-out;

        &:hover {
            cursor: pointer;
            background-color: $font-color;
        }
    }

    div:nth-child(2) {
        background-color: $ligth-grey;
        padding: 0.5rem 1rem;
        max-width: 54px;
    }
}