<div class="contenedor-autenticacion">
    <form [formGroup]="formLogin">
        <div>
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" formControName="email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="password" id="password" formControName="password">
        </div>
        <div>
            <button type="submit">INICIAR SESIÓN</button>
        </div>
         <p>Pulse <span routerLink="/registro">aquí</span> si no dispone de cuenta</p>
    </form>
</div>