<div class="contenedor-autenticacion">
    <form [formGroup]="formLogin" (ngSubmit)="sendAut()">
        <div>
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" formControlName="email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="password" id="password" formControlName="password">
        </div>
        <div>
            <button type="submit" *ngIf="!esperando">INICIAR SESIÓN</button>
            <button type="button" *ngIf="esperando">Espere...</button>
        </div>
         <p>Pulse <span routerLink="/registro">aquí</span> si no dispone de cuenta</p>
         <p>{{mensaje}}</p>
    </form>
</div>