<div class="contenedor-producto">
    <div class="pics">
        <div class="main-pic">
            <img [src]="producto?.pics[picActive]">
        </div>
        <div class="thumbs">
            <img [ngClass]="{activa: i === picActive}"
                 [src]="pic" 
                 *ngFor="let pic of producto?.pics; let i = index;"
                 (click)="showPic(i)">
        </div>
    </div>
    <div class="datos">
        <div class="titulos-producto">
            <h1>{{producto?.nombre}}</h1>
            <h2>{{producto?.precio | numero: 2: ' €'}}</h2>
        </div>
        <div class="descripcion-producto">
            <p>{{producto?.descripcion}}</p>
        </div>
        <div class="caracteristicas-producto">
            <div>       
                <p class="custom-label">TALLA</p>
                <div class="custom-select">
                    <div class="custom-selected" *ngIf="producto?.tallas.length === 0">
                        Única
                    </div>
                    <div class="custom-selected" 
                        *ngIf="producto?.tallas.length !== 0"
                        (click)="showTallas($event)">
                        {{articulo?.talla}}
                        <img src="assets/icons/chevron-down.svg">
                    </div>
                    <div #tallas class="custom-options">
                        <div class="custom-option"
                            *ngFor="let talla of producto?.tallas; let i = index;"
                            (click)="setTalla(i)">
                            {{talla}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-l-small">
                <p class="custom-label">COLOR</p>
                <div class="custom-select">
                    <div class="custom-selected" *ngIf="producto?.colores[0] === 'unico'">
                        Único
                    </div>
                    <div class="custom-selected" 
                        *ngIf="producto?.colores[0] !== 'unico'"
                        (click)="showColores($event)">
                        {{articulo?.color}}
                        <img src="assets/icons/chevron-down.svg">
                    </div>
                    <div #colores class="custom-options">
                        <div class="custom-option"
                            *ngFor="let color of producto?.colores; let i = index;"
                            (click)="setColor(i)">
                            {{color}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cantidad-producto">
            <div>
                <p class="custom-label">CANTIDAD</p>
                <div class="custom-quantity">
                    <div (click)="setCantidad(-1)">
                        <img src="assets/icons/minus.svg">
                    </div>
                    <div>{{this.articulo?.cantidad}}</div>
                    <div (click)="setCantidad(1)">
                        <img src="assets/icons/plus.svg">
                    </div>
                </div>
            </div>
            <div>
                <button (click)="addToCesta()">AÑADIR A LA CESTA</button>
            </div>
        </div>
        <div class="info-adicional-producto">
            <p>Plazo de entrega 3 días hábiles</p>
        </div>
    </div>
</div>